.LoginPanel {
  width: 350px;
  height: 450px;
  margin: auto;
  padding: 10px 15px;
  text-align: center;
  background-color: #121d26;
}
.HeaderWelcome {
  font-size: 1.5rem;
  background-color: #08081c;
  padding: 15px 0;
}
