.SectionHeader {
  margin-bottom: 15px;
}
.SectionHeader--left {
  padding-left: 5%;
}
.SectionHeader--right {
  padding-right: 5%;
}
.SectionHeader--left div{
  background: linear-gradient(to left, rgba(255,255,255, 0.9), rgba(255,255,255, 0.0));
}
.SectionHeader--right div{
  background: linear-gradient(to right, rgba(255,255,255, 0.9), rgba(255,255,255, 0.0));
}

.SectionHeader--decoration {
  display: inline-block;
  width: 30%;
  vertical-align: super;
}
.SectionHeader--decoration div {
  height: 1px;
}

.SectionHeader--text {
  font-size: 1.3rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  display: inline-block;
  width: 39.9%;
  padding: 0;
  margin: 0;
}
