<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <div id="chat-react-root"></div>
  <!--<script src="/dll/framework.dll.js"></script>-->
  <!--<script src="/dll/router.dll.js"></script>-->
  <!--<script src="/dll/redux.dll.js"></script>-->
  <!--<script src="/dll/utils.dll.js"></script>-->
  <script src="/dll/main.dll.js"></script>
</body>
</html>
